<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="phpunit.php"
         colors="true"
         cacheDirectory="tests/_output/.phpunit.result.cache"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Volt Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage>                                                                                                                                                     
        <report>                                                                                                                                                          
            <html outputDirectory="tests/_output/coverage"/>                                                                                                       
        </report>                                                                                                                                                         
    </coverage>          
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>resources/files/parser.php</file>
        </exclude>
    </source>
</phpunit>
